# <center>2v2 'Men's Net' 'Flight Path' League Scoring System for the 2018 Season</center>
## <center>by Jason Leduc and Brian Hammer</center>

In this notebook, I am attempting to recreate my volleyball league scoring spreadsheet using Python and the pandas package.  We have been running this league for three years now, so we have 3 seasons of data: 2016, 2017, and 2018.  Here I will work with data from 2018.  The original spreadsheet is here: https://docs.google.com/spreadsheets/d/1Rmo0pIkvgpZ_oLMLvJklT0JSh8bdgfC0M709-y5EJ_8/edit?usp=sharing

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
vb_2018 = pd.read_csv('../data/vb_2018.csv', sep = ';')
# must save the csv as a csv using the drop-down filetype menu in OpenOffice Calc

In [5]:
vb_2018.head()

       Date Winner Winner.1  margin   Loser Loser.1  court
0  05/02/18    NaN      NaN     NaN     NaN     NaN    1.0
1  05/02/18    NaN      NaN     NaN     NaN     NaN    1.0
2  05/02/18  Kevin    Peter    13.0  Hammer   Jason    1.0
3  05/02/18  Brent   Jeremy     6.0   Kevin   Peter    1.0
4  05/02/18  Brent   Jeremy     6.0    Andy    Juan    1.0

In [6]:
vb_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 7 columns):
Date        378 non-null object
Winner      223 non-null object
Winner.1    223 non-null object
margin      223 non-null float64
Loser       223 non-null object
Loser.1     223 non-null object
court       536 non-null float64
dtypes: float64(2), object(5)
memory usage: 29.4+ KB

First I want to change the names of the columns

In [7]:
vb_2018.rename(columns={'Winner': 'Winner1', 'Winner.1': 'Winner2', 'Loser':'Loser1', 
                                 'Loser.1': 'Loser2'}, inplace=True)

In [8]:
vb_2018.head()

       Date Winner1 Winner2  margin  Loser1 Loser2  court
0  05/02/18     NaN     NaN     NaN     NaN    NaN    1.0
1  05/02/18     NaN     NaN     NaN     NaN    NaN    1.0
2  05/02/18   Kevin   Peter    13.0  Hammer  Jason    1.0
3  05/02/18   Brent  Jeremy     6.0   Kevin  Peter    1.0
4  05/02/18   Brent  Jeremy     6.0    Andy   Juan    1.0

Removing rows with NaN in "Winner1" column, and saving results with new df name

In [9]:
vb18 = vb_2018[vb_2018.Winner1.notnull()].copy(deep=True)
vb18.head()

        Date Winner1 Winner2  margin  Loser1 Loser2  court
2   05/02/18   Kevin   Peter    13.0  Hammer  Jason    1.0
3   05/02/18   Brent  Jeremy     6.0   Kevin  Peter    1.0
4   05/02/18   Brent  Jeremy     6.0    Andy   Juan    1.0
19  05/09/18    Andy   Casey    11.0   Jason  Peter    1.0
20  05/09/18  Jeremy    Nick     5.0    Andy  Casey    1.0

Changing datatypes of margin and court to int

In [10]:
vb18['margin'] = vb18['margin'].astype(int)
vb18['court'] = vb18['court'].astype(int)
vb18.head()

        Date Winner1 Winner2  margin  Loser1 Loser2  court
2   05/02/18   Kevin   Peter      13  Hammer  Jason      1
3   05/02/18   Brent  Jeremy       6   Kevin  Peter      1
4   05/02/18   Brent  Jeremy       6    Andy   Juan      1
19  05/09/18    Andy   Casey      11   Jason  Peter      1
20  05/09/18  Jeremy    Nick       5    Andy  Casey      1

I think I want a list of all the players, so I can give them scores

In [15]:
player_list = sorted(pd.unique(vb18[['Winner1', 'Winner2', 'Loser1', 'Loser2']].values.ravel('K')))
player_list

['Abrah',
 'Andy',
 'BA',
 'Brent',
 'Casey',
 'Eric',
 'Hammer',
 'Jason',
 'Jeremy',
 'Jerry',
 'Juan',
 'Kevin',
 'Martin',
 'Nick',
 'Peter',
 'Scott']

In the spreadsheet form of this, I had a grid with all the names across both the rows and columns to record the point totals for each possible pair of teammates

In [18]:
court1_grid = pd.DataFrame(index=player_list, columns=player_list)
court1_grid

,Abrah,Andy,BA,Brent,Casey,Eric,Hammer,Jason,Jeremy,Jerry,Juan,Kevin,Martin,Nick,Peter,Scott
Abrah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hammer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jason,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jeremy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kevin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Peter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Scott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I only need to fill in half of the grid, which I did in a sloppy manual way in the spreadsheet.  In each row of the data, the winners and losers are listed alphabetically, so I can use this to require that row names are alphabetically prior to column names