# <center>2v2 'Men's Net' 'Flight Path' League Scoring System for the 2018 Season</center>
## <center>by Jason Leduc and Brian Hammer</center>

In this notebook, I am attempting to recreate my volleyball league scoring spreadsheet using Python and the pandas package.  We have been running this league for three years now, so we have 3 seasons of data: 2016, 2017, and 2018.  Here I will work with data from 2018.  The original spreadsheet is here: https://docs.google.com/spreadsheets/d/1Rmo0pIkvgpZ_oLMLvJklT0JSh8bdgfC0M709-y5EJ_8/edit?usp=sharing

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
vb_2018 = pd.read_csv('../data/vb_2018.csv', sep = ';')
# must save the csv as a csv using the drop-down filetype menu in OpenOffice Calc

In [4]:
vb_2018.head()

       Date Winner Winner.1  margin   Loser Loser.1  court
0  05/02/18    NaN      NaN     NaN     NaN     NaN    1.0
1  05/02/18    NaN      NaN     NaN     NaN     NaN    1.0
2  05/02/18  Kevin    Peter    13.0  Hammer   Jason    1.0
3  05/02/18  Brent   Jeremy     6.0   Kevin   Peter    1.0
4  05/02/18  Brent   Jeremy     6.0    Andy    Juan    1.0

In [5]:
vb_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 7 columns):
Date        378 non-null object
Winner      223 non-null object
Winner.1    223 non-null object
margin      223 non-null float64
Loser       223 non-null object
Loser.1     223 non-null object
court       536 non-null float64
dtypes: float64(2), object(5)
memory usage: 29.4+ KB

First I want to change the names of the columns

In [6]:
vb_2018.rename(columns={'Winner': 'Winner1', 'Winner.1': 'Winner2', 'Loser':'Loser1', 
                                 'Loser.1': 'Loser2'}, inplace=True)

In [7]:
vb_2018.head()

       Date Winner1 Winner2  margin  Loser1 Loser2  court
0  05/02/18     NaN     NaN     NaN     NaN    NaN    1.0
1  05/02/18     NaN     NaN     NaN     NaN    NaN    1.0
2  05/02/18   Kevin   Peter    13.0  Hammer  Jason    1.0
3  05/02/18   Brent  Jeremy     6.0   Kevin  Peter    1.0
4  05/02/18   Brent  Jeremy     6.0    Andy   Juan    1.0

Removing rows with NaN in "Winner1" column, and saving results with new df name

In [8]:
vb18 = vb_2018[vb_2018.Winner1.notnull()].copy(deep=True)
vb18.head()

        Date Winner1 Winner2  margin  Loser1 Loser2  court
2   05/02/18   Kevin   Peter    13.0  Hammer  Jason    1.0
3   05/02/18   Brent  Jeremy     6.0   Kevin  Peter    1.0
4   05/02/18   Brent  Jeremy     6.0    Andy   Juan    1.0
19  05/09/18    Andy   Casey    11.0   Jason  Peter    1.0
20  05/09/18  Jeremy    Nick     5.0    Andy  Casey    1.0

Changing datatypes of margin and court to int

In [9]:
vb18['margin'] = vb18['margin'].astype(int)
vb18['court'] = vb18['court'].astype(int)
vb18.head()

        Date Winner1 Winner2  margin  Loser1 Loser2  court
2   05/02/18   Kevin   Peter      13  Hammer  Jason      1
3   05/02/18   Brent  Jeremy       6   Kevin  Peter      1
4   05/02/18   Brent  Jeremy       6    Andy   Juan      1
19  05/09/18    Andy   Casey      11   Jason  Peter      1
20  05/09/18  Jeremy    Nick       5    Andy  Casey      1

I think I want a list of all the players, so I can give them scores

In [10]:
player_list = sorted(pd.unique(vb18[['Winner1', 'Winner2', 'Loser1', 'Loser2']].values.ravel('K')))
player_list

['Abrah',
 'Andy',
 'BA',
 'Brent',
 'Casey',
 'Eric',
 'Hammer',
 'Jason',
 'Jeremy',
 'Jerry',
 'Juan',
 'Kevin',
 'Martin',
 'Nick',
 'Peter',
 'Scott']

In the spreadsheet form of this, I had a grid with all the names across both the rows and columns to record the point totals for each possible pair of teammates

In [11]:
court1_grid = pd.DataFrame(index=player_list, columns=player_list)
court1_grid

,Abrah,Andy,BA,Brent,Casey,Eric,Hammer,Jason,Jeremy,Jerry,Juan,Kevin,Martin,Nick,Peter,Scott
Abrah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hammer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jason,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jeremy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kevin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Peter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Scott,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I only need to fill in half of the grid, which I did in a sloppy manual way in the spreadsheet.  In each row of the data, the winners and losers are listed alphabetically, so I can use this to require that row names are alphabetically prior to column names

The grid may not be necessary in the short term for calculations, although it is still likely a useful visualization.  For later analysis of relative team strengths, I will need to treat each combination of teammates as an object, specifically a node in a graph, so I may as well establish that data structure now for scoring

In [12]:
all_team_combos = list()
for name in player_list:
    for name2 in player_list:
        new_team = sorted([name, name2])
        if new_team[0] == new_team[1]: # can't have a team with two of the same player
            continue
        if new_team in all_team_combos: # don't want repeated team combosb
            continue
        else:
            all_team_combos.append(new_team)
print(all_team_combos)

[['Abrah', 'Andy'], ['Abrah', 'BA'], ['Abrah', 'Brent'], ['Abrah', 'Casey'], ['Abrah', 'Eric'], ['Abrah', 'Hammer'], ['Abrah', 'Jason'], ['Abrah', 'Jeremy'], ['Abrah', 'Jerry'], ['Abrah', 'Juan'], ['Abrah', 'Kevin'], ['Abrah', 'Martin'], ['Abrah', 'Nick'], ['Abrah', 'Peter'], ['Abrah', 'Scott'], ['Andy', 'BA'], ['Andy', 'Brent'], ['Andy', 'Casey'], ['Andy', 'Eric'], ['Andy', 'Hammer'], ['Andy', 'Jason'], ['Andy', 'Jeremy'], ['Andy', 'Jerry'], ['Andy', 'Juan'], ['Andy', 'Kevin'], ['Andy', 'Martin'], ['Andy', 'Nick'], ['Andy', 'Peter'], ['Andy', 'Scott'], ['BA', 'Brent'], ['BA', 'Casey'], ['BA', 'Eric'], ['BA', 'Hammer'], ['BA', 'Jason'], ['BA', 'Jeremy'], ['BA', 'Jerry'], ['BA', 'Juan'], ['BA', 'Kevin'], ['BA', 'Martin'], ['BA', 'Nick'], ['BA', 'Peter'], ['BA', 'Scott'], ['Brent', 'Casey'], ['Brent', 'Eric'], ['Brent', 'Hammer'], ['Brent', 'Jason'], ['Brent', 'Jeremy'], ['Brent', 'Jerry'], ['Brent', 'Juan'], ['Brent', 'Kevin'], ['Brent', 'Martin'], ['Brent', 'Nick'], ['Brent', 'Peter'], ['Brent', 'Scott'], ['Casey', 'Eric'], ['Casey', 'Hammer'], ['Casey', 'Jason'], ['Casey', 'Jeremy'], ['Casey', 'Jerry'], ['Casey', 'Juan'], ['Casey', 'Kevin'], ['Casey', 'Martin'], ['Casey', 'Nick'], ['Casey', 'Peter'], ['Casey', 'Scott'], ['Eric', 'Hammer'], ['Eric', 'Jason'], ['Eric', 'Jeremy'], ['Eric', 'Jerry'], ['Eric', 'Juan'], ['Eric', 'Kevin'], ['Eric', 'Martin'], ['Eric', 'Nick'], ['Eric', 'Peter'], ['Eric', 'Scott'], ['Hammer', 'Jason'], ['Hammer', 'Jeremy'], ['Hammer', 'Jerry'], ['Hammer', 'Juan'], ['Hammer', 'Kevin'], ['Hammer', 'Martin'], ['Hammer', 'Nick'], ['Hammer', 'Peter'], ['Hammer', 'Scott'], ['Jason', 'Jeremy'], ['Jason', 'Jerry'], ['Jason', 'Juan'], ['Jason', 'Kevin'], ['Jason', 'Martin'], ['Jason', 'Nick'], ['Jason', 'Peter'], ['Jason', 'Scott'], ['Jeremy', 'Jerry'], ['Jeremy', 'Juan'], ['Jeremy', 'Kevin'], ['Jeremy', 'Martin'], ['Jeremy', 'Nick'], ['Jeremy', 'Peter'], ['Jeremy', 'Scott'], ['Jerry', 'Juan'], ['Jerry', 'Kevin'], ['Jerry', 'Martin'], ['Jerry', 'Nick'], ['Jerry', 'Peter'], ['Jerry', 'Scott'], ['Juan', 'Kevin'], ['Juan', 'Martin'], ['Juan', 'Nick'], ['Juan', 'Peter'], ['Juan', 'Scott'], ['Kevin', 'Martin'], ['Kevin', 'Nick'], ['Kevin', 'Peter'], ['Kevin', 'Scott'], ['Martin', 'Nick'], ['Martin', 'Peter'], ['Martin', 'Scott'], ['Nick', 'Peter'], ['Nick', 'Scott'], ['Peter', 'Scott']]

I want to make a dictionary of all these teams, using a "Name1/Name2" string as the key, and a dictionary of information as the value.  This would include the 2-item list of players, the court1 and court 2 point totals, and a list of games played by that team.  For deeper analysis, we will also likely extract a total spread vs each other team, with a negative spread resulting in a directed edge from the other team, and a positive spread resulting in a directed edge toward the other team

The scoring system involves giving 8 points for a court 1 win with a new partner, 4 more points for a 2nd win with that partner, 2 more for a 3rd win, and one point for every win after that with the same partner.  In addition, one point is awarded for each win on court 2.  To implement the scoring system here, I'll count the court 1 wins of each team and use that number as an index into the scoring_system list.

In [13]:
team_dict = dict() # store data for each possible team
individual_scores = dict() # keep track of individual scores
for player in player_list:
    individual_scores[player] = 0
scoring_system = [0, 8, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
for team in all_team_combos:
    court1_wins = 0
    court2_wins = 0
    team_name = str(team[0] + "/" + team[1])
    # get a list of games, with each game a dictionary automatically generated from the row data in the for statement
    # need to iterate through the dataframe of games
    game_list = list()
    for index, row in vb18.iterrows():
        if list([row['Winner1'], row['Winner2']]) == team:
            game_list.append(row)
            if(row['court'] == 1):
                court1_wins = court1_wins + 1
            else:
                court2_wins = court2_wins + 1
    court1_points = scoring_system[court1_wins]
    individual_scores[team[0]] = individual_scores[team[0]] + court1_points + court2_wins
    individual_scores[team[1]] = individual_scores[team[1]] + court1_points + court2_wins
    team_dict[team_name] = [team, court1_points, court2_wins, game_list]
    court1_grid[team[0]][team[1]] = court1_points # this is not working right
print("Individual scores: " + str(individual_scores))

Individual scores: {'Abrah': 21, 'Andy': 103, 'BA': 111, 'Brent': 32, 'Casey': 125, 'Eric': 10, 'Hammer': 74, 'Jason': 74, 'Jeremy': 184, 'Jerry': 78, 'Juan': 81, 'Kevin': 156, 'Martin': 89, 'Nick': 64, 'Peter': 58, 'Scott': 38}

In [14]:
team_dict

{'Abrah/Andy': [['Abrah', 'Andy'], 0, 0, []],
 'Abrah/BA': [['Abrah', 'BA'], 0, 1, [Date       07/25/18
   Winner1       Abrah
   Winner2          BA
   margin            2
   Loser1       Hammer
   Loser2        Peter
   court             2
   Name: 476, dtype: object]],
 'Abrah/Brent': [['Abrah', 'Brent'], 0, 1, [Date       06/13/18
   Winner1       Abrah
   Winner2       Brent
   margin            6
   Loser1         Andy
   Loser2        Jerry
   court             2
   Name: 378, dtype: object]],
 'Abrah/Casey': [['Abrah', 'Casey'], 0, 1, [Date       06/20/18
   Winner1       Abrah
   Winner2       Casey
   margin            4
   Loser1         Juan
   Loser2        Scott
   court             2
   Name: 390, dtype: object]],
 'Abrah/Eric': [['Abrah', 'Eric'], 0, 0, []],
 'Abrah/Hammer': [['Abrah', 'Hammer'], 0, 0, []],
 'Abrah/Jason': [['Abrah', 'Jason'], 0, 0, []],
 'Abrah/Jeremy': [['Abrah', 'Jeremy'], 14, 2, [Date       06/27/18
   Winner1       Abrah
   Winner2      Jeremy
   margin            7
   Loser1        Jason
   Loser2        Peter
   court             1
   Name: 138, dtype: object, Date       08/08/18
   Winner1       Abrah
   Winner2      Jeremy
   margin            4
   Loser1       Hammer
   Loser2        Kevin
   court             1
   Name: 240, dtype: object, Date       08/08/18
   Winner1       Abrah
   Winner2      Jeremy
   margin            2
   Loser1        Casey
   Loser2       Martin
   court             1
   Name: 241, dtype: object, Date       06/27/18
   Winner1       Abrah
   Winner2      Jeremy
   margin            7
   Loser1         Andy
   Loser2       Martin
   court             2
   Name: 405, dtype: object, Date       08/08/18
   Winner1       Abrah
   Winner2      Jeremy
   margin            2
   Loser1           BA
   Loser2        Peter
   court             2
   Name: 508, dtype: object]],
 'Abrah/Jerry': [['Abrah', 'Jerry'], 0, 1, [Date       06/06/18
   Winner1       Abrah
   Winner2       Jerry
   margin            2
   Loser1       Hammer
   Loser2        Jason
   court             2
   Name: 358, dtype: object]],
 'Abrah/Juan': [['Abrah', 'Juan'], 0, 0, []],
 'Abrah/Kevin': [['Abrah', 'Kevin'], 0, 0, []],
 'Abrah/Martin': [['Abrah', 'Martin'], 0, 0, []],
 'Abrah/Nick': [['Abrah', 'Nick'], 0, 1, [Date       07/18/18
   Winner1       Abrah
   Winner2        Nick
   margin            4
   Loser1        Peter
   Loser2        Scott
   court             2
   Name: 457, dtype: object]],
 'Abrah/Peter': [['Abrah', 'Peter'], 0, 0, []],
 'Abrah/Scott': [['Abrah', 'Scott'], 0, 0, []],
 'Andy/BA': [['Andy', 'BA'], 12, 0, [Date       05/09/18
   Winner1        Andy
   Winner2          BA
   margin            7
   Loser1        Casey
   Loser2         Juan
   court             1
   Name: 23, dtype: object, Date       05/09/18
   Winner1        Andy
   Winner2          BA
   margin            6
   Loser1       Jeremy
   Loser2        Peter
   court             1
   Name: 24, dtype: object]],
 'Andy/Brent': [['Andy', 'Brent'], 0, 2, [Date       06/13/18
   Winner1        Andy
   Winner2       Brent
   margin            6
   Loser1        Abrah
   Loser2        Kevin
   court             2
   Name: 372, dtype: object, Date       06/13/18
   Winner1        Andy
   Winner2       Brent
   margin            2
   Loser1         Nick
   Loser2        Scott
   court             2
   Name: 375, dtype: object]],
 'Andy/Casey': [['Andy', 'Casey'], 14, 2, [Date       05/09/18
   Winner1        Andy
   Winner2       Casey
   margin           11
   Loser1        Jason
   Loser2        Peter
   court             1
   Name: 19, dtype: object, Date       05/09/18
   Winner1        Andy
   Winner2       Casey
   margin            2
   Loser1       Jeremy
   Loser2         Nick
   court             1
   Name: 22, dtype: object, Date       08/01/18
   Winner1        Andy
   Winner2       Casey
   margin            3
   Loser1           BA
   Loser2        Jason
   court             1
   Name: 229, dtype: object, Date       05/09/18
   Winner1        Andy
   Winner2       Casey
   margin           11
   Loser1        Brent
   Loser2       Martin
   court             2
   Name: 287, dtype: object, Date       05/09/18
   Winner1        Andy
   Winner2       Casey
   margin            2
   Loser1           BA
   Loser2         Juan
   court             2
   Name: 290, dtype: object]],
 'Andy/Eric': [['Andy', 'Eric'], 8, 1, [Date       06/06/18
   Winner1        Andy
   Winner2        Eric
   margin            7
   Loser1       Hammer
   Loser2        Jason
   court             1
   Name: 87, dtype: object, Date       06/06/18
   Winner1        Andy
   Winner2        Eric
   margin            6
   Loser1        Brent
   Loser2        Kevin
   court             2
   Name: 354, dtype: object]],
 'Andy/Hammer': [['Andy', 'Hammer'], 12, 2, [Date       08/08/18
   Winner1        Andy
   Winner2      Hammer
   margin            7
   Loser1           BA
   Loser2        Jerry
   court             1
   Name: 243, dtype: object, Date       08/08/18
   Winner1        Andy
   Winner2      Hammer
   margin           10
   Loser1        Casey
   Loser2       Martin
   court             1
   Name: 244, dtype: object, Date       05/16/18
   Winner1        Andy
   Winner2      Hammer
   margin            6
   Loser1        Brent
   Loser2        Peter
   court             2
   Name: 307, dtype: object, Date       08/08/18
   Winner1        Andy
   Winner2      Hammer
   margin            9
   Loser1        Jason
   Loser2        Kevin
   court             2
   Name: 511, dtype: object]],
 'Andy/Jason': [['Andy', 'Jason'], 0, 2, [Date       06/27/18
   Winner1        Andy
   Winner2       Jason
   margin            6
   Loser1       Martin
   Loser2        Peter
   court             2
   Name: 409, dtype: object, Date       08/01/18
   Winner1        Andy
   Winner2       Jason
   margin            9
   Loser1        Kevin
   Loser2        Scott
   court             2
   Name: 497, dtype: object]],
 'Andy/Jeremy': [['Andy', 'Jeremy'], 14, 2, [Date       06/20/18
   Winner1        Andy
   Winner2      Jeremy
   margin            2
   Loser1        Brent
   Loser2        Peter
   court             1
   Name: 121, dtype: object, Date       06/20/18
   Winner1        Andy
   Winner2      Jeremy
   margin            2
   Loser1        Abrah
   Loser2        Casey
   court             1
   Name: 122, dtype: object, Date       06/20/18
   Winner1        Andy
   Winner2      Jeremy
   margin            5
   Loser1        Jason
   Loser2         Nick
   court             1
   Name: 123, dtype: object, Date       05/30/18
   Winner1        Andy
   Winner2      Jeremy
   margin            8
   Loser1       Martin
   Loser2        Peter
   court             2
   Name: 337, dtype: object, Date       06/20/18
   Winner1        Andy
   Winner2      Jeremy
   margin            6
   Loser1        Abrah
   Loser2       Martin
   court             2
   Name: 388, dtype: object]],
 'Andy/Jerry': [['Andy', 'Jerry'], 0, 1, [Date       06/13/18
   Winner1        Andy
   Winner2       Jerry
   margin            6
   Loser1       Hammer
   Loser2         Nick
   court             2
   Name: 379, dtype: object]],
 'Andy/Juan': [['Andy', 'Juan'], 0, 4, [Date       05/02/18
   Winner1        Andy
   Winner2        Juan
   margin            2
   Loser1           BA
   Loser2       Martin
   court             2
   Name: 272, dtype: object, Date       06/06/18
   Winner1        Andy
   Winner2        Juan
   margin            6
   Loser1        Abrah
   Loser2        Scott
   court             2
   Name: 362, dtype: object, Date       06/20/18
   Winner1        Andy
   Winner2        Juan
   margin            6
   Loser1        Brent
   Loser2        Casey
   court             2
   Name: 395, dtype: object, Date       06/27/18
   Winner1        Andy
   Winner2        Juan
   margin           15
   Loser1        Abrah
   Loser2           BA
   court             2
   Name: 412, dtype: object]],
 'Andy/Kevin': [['Andy', 'Kevin'], 14, 1, [Date       05/23/18
   Winner1        Andy
   Winner2       Kevin
   margin            4
   Loser1         Eric
   Loser2       Hammer
   court             1
   Name: 53, dtype: object, Date       05/23/18
   Winner1        Andy
   Winner2       Kevin
   margin           10
   Loser1        Brent
   Loser2         Nick
   court             1
   Name: 54, dtype: object, Date       05/23/18
   Winner1        Andy
   Winner2       Kevin
   margin            2
   Loser1        Casey
   Loser2         Juan
   court             1
   Name: 55, dtype: object, Date       05/23/18
   Winner1        Andy
   Winner2       Kevin
   margin            7
   Loser1        Abrah
   Loser2         Juan
   court             2
   Name: 321, dtype: object]],
 'Andy/Martin': [['Andy', 'Martin'], 8, 2, [Date       05/16/18
   Winner1        Andy
   Winner2      Martin
   margin           15
   Loser1       Hammer
   Loser2        Peter
   court             1
   Name: 36, dtype: object, Date       05/16/18
   Winner1        Andy
   Winner2      Martin
   margin            2
   Loser1       Jeremy
   Loser2         Juan
   court             2
   Name: 303, dtype: object, Date       05/16/18
   Winner1        Andy
   Winner2      Martin
   margin           10
   Loser1       Hammer
   Loser2        Scott
   court             2
   Name: 310, dtype: object]],
 'Andy/Nick': [['Andy', 'Nick'], 0, 0, []],
 'Andy/Peter': [['Andy', 'Peter'], 0, 1, [Date       06/06/18
   Winner1        Andy
   Winner2       Peter
   margin            9
   Loser1        Jason
   Loser2        Scott
   court             2
   Name: 359, dtype: object]],
 'Andy/Scott': [['Andy', 'Scott'], 0, 1, [Date       05/23/18
   Winner1        Andy
   Winner2       Scott
   margin            2
   Loser1        Abrah
   Loser2        Peter
   court             2
   Name: 327, dtype: object]],
 'BA/Brent': [['BA', 'Brent'], 0, 0, []],
 'BA/Casey': [['BA', 'Casey'], 12, 0, [Date       08/01/18
   Winner1          BA
   Winner2       Casey
   margin            2
   Loser1       Jeremy
   Loser2        Jerry
   court             1
   Name: 227, dtype: object, Date       08/01/18
   Winner1          BA
   Winner2       Casey
   margin           10
   Loser1       Hammer
   Loser2        Peter
   court             1
   Name: 228, dtype: object]],
 'BA/Eric': [['BA', 'Eric'], 0, 0, []],
 'BA/Hammer': [['BA', 'Hammer'], 8, 1, [Date       07/11/18
   Winner1          BA
   Winner2      Hammer
   margin            3
   Loser1       Jeremy
   Loser2       Martin
   court             1
   Name: 172, dtype: object, Date       07/11/18
   Winner1          BA
   Winner2      Hammer
   margin            9
   Loser1        Abrah
   Loser2        Jason
   court             2
   Name: 439, dtype: object]],
 'BA/Jason': [['BA', 'Jason'], 0, 3, [Date       05/30/18
   Winner1          BA
   Winner2       Jason
   margin            2
   Loser1         Andy
   Loser2       Martin
   court             2
   Name: 343, dtype: object, Date       06/27/18
   Winner1          BA
   Winner2       Jason
   margin            5
   Loser1        Jerry
   Loser2       Martin
   court             2
   Name: 413, dtype: object, Date       08/15/18
   Winner1          BA
   Winner2       Jason
   margin           10
   Loser1       Hammer
   Loser2         Nick
   court             2
   Name: 524, dtype: object]],
 'BA/Jeremy': [['BA', 'Jeremy'], 14, 0, [Date       06/27/18
   Winner1          BA
   Winner2      Jeremy
   margin            3
   Loser1       Hammer
   Loser2        Jason
   court             1
   Name: 145, dtype: object, Date       08/01/18
   Winner1          BA
   Winner2      Jeremy
   margin            9
   Loser1         Juan
   Loser2        Peter
   court             1
   Name: 225, dtype: object, Date       08/01/18
   Winner1          BA
   Winner2      Jeremy
   margin            6
   Loser1        Kevin
   Loser2        Scott
   court             1
   Name: 226, dtype: object]],
 'BA/Jerry': [['BA', 'Jerry'], 8, 2, [Date       08/08/18
   Winner1          BA
   Winner2       Jerry
   margin            9
   Loser1        Abrah
   Loser2       Jeremy
   court             1
   Name: 242, dtype: object, Date       07/18/18
   Winner1          BA
   Winner2       Jerry
   margin            5
   Loser1        Brent
   Loser2       Martin
   court             2
   Name: 458, dtype: object, Date       08/08/18
   Winner1          BA
   Winner2       Jerry
   margin            8
   Loser1        Peter
   Loser2        Scott
   court             2
   Name: 510, dtype: object]],
 'BA/Juan': [['BA', 'Juan'], 0, 1, [Date       05/09/18
   Winner1          BA
   Winner2        Juan
   margin            7
   Loser1        Brent
   Loser2        Jason
   court             2
   Name: 291, dtype: object]],
 'BA/Kevin': [['BA', 'Kevin'], 12, 1, [Date       06/13/18
   Winner1          BA
   Winner2       Kevin
   margin            7
   Loser1        Casey
   Loser2       Hammer
   court             1
   Name: 106, dtype: object, Date       06/13/18
   Winner1          BA
   Winner2       Kevin
   margin            6
   Loser1         Andy
   Loser2        Brent
   court             1
   Name: 107, dtype: object, Date       06/13/18
   Winner1          BA
   Winner2       Kevin
   margin            4
   Loser1        Abrah
   Loser2        Jason
   court             2
   Name: 374, dtype: object]],
 'BA/Martin': [['BA', 'Martin'], 8, 1, [Date       05/30/18
   Winner1          BA
   Winner2      Martin
   margin            2
   Loser1        Casey
   Loser2         Nick
   court             1
   Name: 71, dtype: object, Date       05/30/18
   Winner1          BA
   Winner2      Martin
   margin            5
   Loser1        Jerry
   Loser2        Peter
   court             2
   Name: 339, dtype: object]],
 'BA/Nick': [['BA', 'Nick'], 14, 1, [Date       07/18/18
   Winner1          BA
   Winner2        Nick
   margin            3
   Loser1        Brent
   Loser2        Casey
   court             1
   Name: 193, dtype: object, Date       07/18/18
   Winner1          BA
   Winner2        Nick
   margin            4
   Loser1        Jason
   Loser2        Scott
   court             1
   Name: 194, dtype: object, Date       07/18/18
   Winner1          BA
   Winner2        Nick
   margin            2
   Loser1       Hammer
   Loser2        Jerry
   court             1
   Name: 195, dtype: object, Date       07/18/18
   Winner1          BA
   Winner2        Nick
   margin            9
   Loser1       Hammer
   Loser2        Jerry
   court             2
   Name: 461, dtype: object]],
 'BA/Peter': [['BA', 'Peter'], 0, 1, [Date       08/01/18
   Winner1          BA
   Winner2       Peter
   margin            4
   Loser1         Andy
   Loser2        Jason
   court             2
   Name: 493, dtype: object]],
 'BA/Scott': [['BA', 'Scott'], 8, 3, [Date       07/11/18
   Winner1          BA
   Winner2       Scott
   margin            2
   Loser1         Juan
   Loser2       Martin
   court             1
   Name: 176, dtype: object, Date       06/27/18
   Winner1          BA
   Winner2       Scott
   margin            5
   Loser1         Andy
   Loser2       Hammer
   court             2
   Name: 408, dtype: object, Date       07/11/18
   Winner1          BA
   Winner2       Scott
   margin            3
   Loser1        Abrah
   Loser2       Hammer
   court             2
   Name: 444, dtype: object, Date       08/15/18
   Winner1          BA
   Winner2       Scott
   margin            8
   Loser1        Casey
   Loser2        Jason
   court             2
   Name: 528, dtype: object]],
 'Brent/Casey': [['Brent', 'Casey'], 8, 0, [Date       07/18/18
   Winner1       Brent
   Winner2       Casey
   margin            7
   Loser1        Kevin
   Loser2       Martin
   court             1
   Name: 192, dtype: object]],
 'Brent/Eric': [['Brent', 'Eric'], 0, 0, []],
 'Brent/Hammer': [['Brent', 'Hammer'], 0, 0, []],
 'Brent/Jason': [['Brent', 'Jason'], 0, 0, []],
 'Brent/Jeremy': [['Brent', 'Jeremy'], 12, 1, [Date       05/02/18
   Winner1       Brent
   Winner2      Jeremy
   margin            6
   Loser1        Kevin
   Loser2        Peter
   court             1
   Name: 3, dtype: object, Date       05/02/18
   Winner1       Brent
   Winner2      Jeremy
   margin            6
   Loser1         Andy
   Loser2         Juan
   court             1
   Name: 4, dtype: object, Date       05/02/18
   Winner1       Brent
   Winner2      Jeremy
   margin            9
   Loser1           BA
   Loser2       Martin
   court             2
   Name: 271, dtype: object]],
 'Brent/Jerry': [['Brent', 'Jerry'], 0, 0, []],
 'Brent/Juan': [['Brent', 'Juan'], 0, 0, []],
 'Brent/Kevin': [['Brent', 'Kevin'], 0, 0, []],
 'Brent/Martin': [['Brent', 'Martin'], 0, 3, [Date       06/06/18
   Winner1       Brent
   Winner2      Martin
   margin            7
   Loser1        Peter
   Loser2        Scott
   court             2
   Name: 357, dtype: object, Date       07/18/18
   Winner1       Brent
   Winner2      Martin
   margin            2
   Loser1        Abrah
   Loser2        Scott
   court             2
   Name: 460, dtype: object, Date       07/25/18
   Winner1       Brent
   Winner2      Martin
   margin            4
   Loser1        Abrah
   Loser2           BA
   court             2
   Name: 479, dtype: object]],
 'Brent/Nick': [['Brent', 'Nick'], 0, 1, [Date       05/23/18
   Winner1       Brent
   Winner2        Nick
   margin            6
   Loser1        Abrah
   Loser2        Peter
   court             2
   Name: 322, dtype: object]],
 'Brent/Peter': [['Brent', 'Peter'], 0, 4, [Date       05/16/18
   Winner1       Brent
   Winner2       Peter
   margin            2
   Loser1         Juan
   Loser2       Martin
   court             2
   Name: 309, dtype: object, Date       06/20/18
   Winner1       Brent
   Winner2       Peter
   margin            4
   Loser1        Jason
   Loser2         Nick
   court             2
   Name: 389, dtype: object, Date       06/20/18
   Winner1       Brent
   Winner2       Peter
   margin            8
   Loser1         Juan
   Loser2       Martin
   court             2
   Name: 392, dtype: object, Date       07/11/18
   Winner1       Brent
   Winner2       Peter
   margin            6
   Loser1        Abrah
   Loser2       Jeremy
   court             2
   Name: 442, dtype: object]],
 'Brent/Scott': [['Brent', 'Scott'], 0, 0, []],
 'Casey/Eric': [['Casey', 'Eric'], 0, 0, []],
 'Casey/Hammer': [['Casey', 'Hammer'], 12, 1, [Date       06/13/18
   Winner1       Casey
   Winner2      Hammer
   margin            2
   Loser1         Andy
   Loser2        Brent
   court             1
   Name: 104, dtype: object, Date       06/13/18
   Winner1       Casey
   Winner2      Hammer
   margin            3
   Loser1        Jerry
   Loser2       Martin
   court             1
   Name: 105, dtype: object, Date       06/13/18
   Winner1       Casey
   Winner2      Hammer
   margin            4
   Loser1        Jason
   Loser2         Nick
   court             2
   Name: 371, dtype: object]],
 'Casey/Jason': [['Casey', 'Jason'], 0, 1, [Date       08/15/18
   Winner1       Casey
   Winner2       Jason
   margin            2
   Loser1       Hammer
   Loser2        Peter
   court             2
   Name: 529, dtype: object]],
 'Casey/Jeremy': [['Casey', 'Jeremy'], 14, 1, [Date       05/16/18
   Winner1       Casey
   Winner2      Jeremy
   margin            6
   Loser1         Andy
   Loser2       Martin
   court             1
   Name: 37, dtype: object, Date       05/16/18
   Winner1       Casey
   Winner2      Jeremy
   margin            2
   Loser1        Jason
   Loser2         Juan
   court             1
   Name: 38, dtype: object, Date       05/16/18
   Winner1       Casey
   Winner2      Jeremy
   margin            2
   Loser1         Andy
   Loser2       Hammer
   court             1
   Name: 39, dtype: object, Date       05/16/18

In [15]:
court1_grid

,Abrah,Andy,BA,Brent,Casey,Eric,Hammer,Jason,Jeremy,Jerry,Juan,Kevin,Martin,Nick,Peter,Scott
Abrah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andy,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BA,0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brent,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casey,0,14,12,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eric,0,8,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hammer,0,12,8,0,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jason,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jeremy,14,14,14,12,14,0,14,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jerry,0,0,8,0,0,0,0,8,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Juan,0,0,0,0,8,0,0,12,14,12,NaN,NaN,NaN,NaN,NaN,NaN
Kevin,0,14,12,0,14,0,12,12,8,14,14,NaN,NaN,NaN,NaN,NaN
Martin,0,8,8,0,0,0,0,8,12,0,8,14,NaN,NaN,NaN,NaN
Nick,0,0,14,0,8,0,0,0,14,0,0,14,0,NaN,NaN,NaN
Peter,0,0,0,0,0,0,0,0,14,0,0,14,8,0,NaN,NaN
Scott,0,0,8,0,14,0,0,0,0,0,0,0,0,0,0,NaN